---
layout: base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "tags/{{ tag | slugify }}/index.html"
---

<h2>Tag: {{ tag }}</h2>

<ul>
{% set items = collections[tag] %}
{% for item in items | reverse %}
  {% if "posts" in item.data.tags %}
    <li>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
      <small>— {{ item.date | readableDate }}</small>
    </li>
  {% endif %}
{% endfor %}
</ul>

<p><a href="/tags/">Back to all tags</a></p>
