---
permalink: "humans.txt"
eleventyExcludeFromCollections: true
---

/* TEAM */
Author: Your Name
Site: Tiny Theme
Location: Earth

/* THANKS */
Eleventy: https://www.11ty.dev/

/* SITE */
Standards: HTML, CSS
Components: Minimal templates, Luxon dates, RSS, sitemap, tags
